ul{
    list-style-type: none;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
}
li{
    text-align: center;
    background-color: #EBD9B4;
}
h2{
    margin-top: 0;
}
img{
    padding-top: 10px;
    max-height: 400px;
    max-width: 200px;
}
button{
    border: none;
    border-radius: 5px;
    background-color: hsl(182, 16%, 30%);
    color: white;
    cursor: pointer;
}